<font face="FreeSans">
<main>
  <div class="create-post-container">
    <div>Create post</div>
    <div>
        <!-- <input class="post-fields" type="text" placeholder=" " [(ngModel)]="title" data_placeholder="Input title..." required/>
        <input class="post-fields" type="text" placeholder=" " [(ngModel)]="description" data_placeholder="What would you like to talk about?" required/> -->
    </div>
    <div>
        <!-- <button class="create-post-btn" (click)="createPost()" [disabled]="loading">Create post</button> -->
    </div>
  </div>
</main>
</font>